# Analyse exploratoire des restaurants √† Bengaluru (Zomato)
**Auteur :** [MEJIOMO HILARY ALEAXANRA MEJM28530300]  
**Date :** D√©cembre 2025  
**Cours :** 8PRO408 - UQAC

---

## Objectifs du projet
- Explorer la structure et la qualit√© des donn√©es
- √âtudier la r√©partition g√©ographique des restaurants
- Analyser les types de restaurants, cuisines et gammes de prix
- √âtudier les notations et la popularit√©
- Produire des visualisations pertinentes

In [1]:
# Importation des biblioth√®ques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

# Configuration des graphiques
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 10

print("‚úÖ Biblioth√®ques import√©es avec succ√®s")

‚úÖ Biblioth√®ques import√©es avec succ√®s

---
## 1. CHARGEMENT ET EXPLORATION DU DATASET
---

In [2]:
# Chargement des donn√©es
df = pd.read_csv('../data/zomato.csv')

print("=" * 80)
print("EXPLORATION INITIALE DU DATASET")
print("=" * 80)

# Aper√ßu g√©n√©ral
print(f"\nüìä Dimensions du dataset : {df.shape[0]} lignes √ó {df.shape[1]} colonnes")
print(f"\nüìã Colonnes disponibles :")
print(df.columns.tolist())

print("\nüîç Aper√ßu des premi√®res lignes :")
df.head()

================================================================================
EXPLORATION INITIALE DU DATASET
================================================================================

üìä Dimensions du dataset : 51717 lignes √ó 17 colonnes

üìã Colonnes disponibles :
['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes', 'phone', 'location', 'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)', 'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)']

üîç Aper√ßu des premi√®res lignes :

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
# Informations sur les types de donn√©es
print("\nüìà Informations sur les types de donn√©es :")
df.info()

üìà Informations sur les types de donn√©es :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [4]:
# Statistiques descriptives
print("\nüìä Statistiques descriptives :")
df.describe()

üìä Statistiques descriptives :

              votes
count  51717.000000
mean     283.697527
std      803.838853
min        0.000000
25%        7.000000
50%       41.000000
75%      198.000000
max    16832.000000

In [5]:
# Analyse des valeurs manquantes
print("\n‚ö†Ô∏è Valeurs manquantes par colonne :")
missing_data = pd.DataFrame({
    'Colonne': df.columns,
    'Valeurs manquantes': df.isnull().sum(),
    'Pourcentage (%)': (df.isnull().sum() / len(df) * 100).round(2)
})
missing_data = missing_data[missing_data['Valeurs manquantes'] > 0].sort_values('Valeurs manquantes', ascending=False)
missing_data

‚ö†Ô∏è Valeurs manquantes par colonne :

,Colonne,Valeurs manquantes,Pourcentage (%)
dish_liked,dish_liked,28078,54.29
rate,rate,7775,15.03
phone,phone,1208,2.34
approx_cost(for two people),approx_cost(for two people),346,0.67
rest_type,rest_type,227,0.44
cuisines,cuisines,45,0.09
location,location,21,0.04

In [6]:
# D√©tection des doublons
duplicates = df.duplicated().sum()
print(f"\nüîÑ Nombre de lignes dupliqu√©es : {duplicates}")

üîÑ Nombre de lignes dupliqu√©es : 0

---
## 2. NETTOYAGE DES DONN√âES
---

In [7]:
# Cr√©er une copie pour le nettoyage
df_clean = df.copy()

# Nettoyage de la colonne 'rate'
def clean_rate(rate):
    if pd.isna(rate) or rate == 'NEW' or rate == '-':
        return np.nan
    try:
        rate_str = str(rate).split('/')[0].strip()
        return float(rate_str)
    except:
        return np.nan

df_clean['rate'] = df_clean['rate'].apply(clean_rate)
print(f"‚úì Notation moyenne : {df_clean['rate'].mean():.2f}/5")

# Nettoyage du co√ªt
def clean_cost(cost):
    if pd.isna(cost):
        return np.nan
    try:
        cost_str = str(cost).replace(',', '').strip()
        return float(cost_str)
    except:
        return np.nan

df_clean['approx_cost(for two people)'] = df_clean['approx_cost(for two people)'].apply(clean_cost)
print(f"‚úì Co√ªt moyen : {df_clean['approx_cost(for two people)'].mean():.0f} INR")

# Conversion des votes
df_clean['votes'] = pd.to_numeric(df_clean['votes'], errors='coerce')
print(f"‚úì Nombre moyen de votes : {df_clean['votes'].mean():.0f}")

# Suppression des doublons
if duplicates > 0:
    df_clean = df_clean.drop_duplicates()
    print(f"‚úì {duplicates} lignes dupliqu√©es supprim√©es")

print(f"\n‚úÖ Dataset nettoy√© : {df_clean.shape[0]} lignes √ó {df_clean.shape[1]} colonnes")

‚úì Notation moyenne : 3.70/5
‚úì Co√ªt moyen : 555 INR
‚úì Nombre moyen de votes : 284

‚úÖ Dataset nettoy√© : 51717 lignes √ó 17 colonnes